<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
	<meta charset="UTF-8">
	<title>CRUD Sucursals</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>

	<!--Barra de navegacio-->
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<img class="navbar-brand" th:src="@{/images/marti-academy-logo.png}" alt="Logo" width="10%" height="10%">
				
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<!-- Enllaços del menu -->
				
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/index}">Inici</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/sucursal/getAll}">Sucursals</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		
		
		<div class="alert alert-success alert-dismissable" th:if="${success != null}">
			<label th:text="${success}"></label>
			<button type="button" class="close" data-bs-dismiss="alert">&times;</button>
		</div>
		
		<div class="alert alert-danger alert-dismissable" th:if="${exception != null}">
			<label th:text="${exception}"></label>
			<button type="button" class="close" data-bs-dismiss="alert">&times;</button>
		</div>
		
		<div class="alert alert-warning alert-dismissable" th:if="${warning != null}">
			<label th:text="${warning}"></label>
			<button type="button" class="close" data-bs-dismiss="alert">&times;</button>
		</div>
		
		<div class="alert alert-info alert-dismissable" th:if="${info != null}">
			<label th:text="${info}"></label>
			<button type="button" class="close" data-bs-dismiss="alert">&times;</button>
		</div>
		
	</header>

	<!--Contingut-->
	<div class="container">

	</div>

	<!--Peu de pagina-->
	<footer th:fragment="footer" class="bg-dark text-white text-center fixed-bottom">

		<div class="container">
			<p>Copyright M.Gustamante &copy; -2022</p>
		</div>
		<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

	</footer>
</body>

</html>